/*===== Primary Color =====*/

/*===== Background Color =====*/
.thm-bg,
.thm-btn,
.rqst-cl::before,
.rqst-cl::after,
.prtfl-box:before,
.pln-box:before,
.owl-carousel .owl-dots button.owl-dot:hover,
.owl-carousel .owl-dots button.owl-dot:focus,
.owl-carousel .owl-dots button.owl-dot.active,
.pst-thmb-styl1 .pst-dat,
.tem-box::before,
header.style2 nav > div > a:hover,
header.style2 nav > div > a:focus,
header.style7 nav > div > a:hover, 
header.style7 nav > div > a:focus,
.prtfl-box2::before,
.tem-car2 .owl-nav button i,
.thm-btn2:hover,
.thm-btn2:focus,
.pln-box2:after,
.tgl-itm > h4.active,
.srv-box3:hover,
.srv-thmb3::before,
.tem-box3:before,
.pst-inf-styl3 > a:hover,
.pst-inf-styl3 > a:focus,
.prtfl-box4:before,
.cmp-feat-inf-inr > h6 span,
.cmp-vdo > a.cmp-vdo-btn:hover,
.cmp-vdo > a.cmp-vdo-btn:focus,
.tgs > a:hover,
.tgs > a:focus,
.cnt-inf-btns > a:hover,
.cnt-inf-btns > a:focus,
.srv-box6 > a:hover,
.srv-box6 > a:focus,
.explr-mckp > a:hover,
.explr-mckp > a:focus,
.gray-thm-bg:before,
.prtfl-thmb6:before,
.pst-inf-styl4 > a:hover,
.pst-inf-styl4 > a:focus,
.tgl-styl.style3 .tgl-itm > h4:hover,
.tgl-styl.style3 .tgl-itm > h4.active,
header.style9 .menu-wrp2 .logo > a,
.tem-box4:before,
.trndy-aprl-lst > li:before,
.gray-bg .srv-box6 > a:hover,
.gray-bg .srv-box6 > a:focus,
.pagination li a:before,
.pagination li span:before,
.tagcloud > a:hover,
.tagcloud > a:focus,
.blg-dtl-thmb .pst-cat > a,
.srv-dtl-img-car .owl-nav > button.owl-prev:hover, 
.srv-dtl-img-car .owl-nav > button.owl-next:hover,
.srv-dtl-img-car .owl-nav > button.owl-prev:focus, 
.srv-dtl-img-car .owl-nav > button.owl-next:focus,
.prtfl-thmb7:before,
.prtfl-cat7 > a:hover,
.prtfl-cat7 > a:focus,
.prtfl-box9:hover:before,
.prtfl-car .owl-nav > button.owl-next:hover,
.prtfl-car .owl-nav > button.owl-prev:hover,
.prtfl-car .owl-nav > button.owl-next:focus,
.prtfl-car .owl-nav > button.owl-prev:focus,
.scl-btns3 > a:hover, 
.scl-btns3 > a:focus,
.prtfl-dtl-vdo > a:hover,
.prtfl-dtl-vdo > a:focus,
.prtfl-dtl-inf.style2 .scl-btns3 > a:hover,
.prtfl-dtl-inf.style2 .scl-btns3 > a:focus,
.prtfl-dtl-car > div.slick-arrows:hover,
.prtfl-dtl-car > div.slick-arrows:focus,
.prtfl-dtl-inf.style3 .scl-btns3 > a:hover,
.prtfl-dtl-inf.style3 .scl-btns3 > a:focus,
.mnu-btn:hover .pix,
nav > div ul ul li:hover > a,
nav > div ul ul li a:focus,
.mga-lnks > a:hover,
.mga-lnks > a:focus,
.srch-cls-btn:hover,
.rspn-mnu-btn:hover,
.rspn-scil > li a:hover,
.rspn-scil > li a:focus,
.rspn-mnu-cls:hover,
.mnu-cntr ul ul > li:hover > a,
.mnu-cntr ul ul > li a:focus
{
	background-color: rgb(254 , 243, 39);
}


{
	background: #f4d036;
}

/*===== Text Color =====*/
.thm-clr,
nav > div > ul li:hover > a, 
nav > div > ul li a:focus,
nav > div > ul > li.menu-item-has-children:hover:before,
.srv-inf > h4 a:hover,
.srv-inf > h4 a:focus,
.busns-slut-tbs > ul.nav-tabs li.nav-item a.nav-link:hover,
.busns-slut-tbs > ul.nav-tabs li.nav-item a.nav-link:focus,
.busns-slut-tbs > ul.nav-tabs li.nav-item a.nav-link.active,
.bst-gal-itm > a:hover,
.bst-gal-itm > a:focus,
.pst-inf-styl1 > h4 a:hover,
.pst-inf-styl1 > h4 a:focus,
.abt-cnt-lst > li a:hover,
.abt-cnt-lst > li a:focus,
.wdgt-inf > h4 a:hover,
.wdgt-inf > h4 a:focus,
.btm-br p > a:hover,
.btm-br p > a:focus,
.srv-inf2 > h4 a:hover,
.srv-inf2 > h4 a:focus,
.fltr-btns > li a:hover,
.fltr-btns > li a:focus,
.fltr-btns > li.active a,
.tem-car2 .owl-nav button:hover,
.tem-car2 .owl-nav button:focus,
.tem-thmb .tem-scl2 > a:hover,
.tem-thmb .tem-scl2 > a:focus,
.pst-mta > li a:hover,
.pst-mta > li a:focus,
.pst-inf-styl2 > h4 a:hover,
.pst-inf-styl2 > h4 a:focus,
.scl-btns2 > a:hover,
.scl-btns2 > a:focus,
.hdr-srch > form button:hover,
.hdr-srch > form button:focus,
.tp-lst > li a:hover,
.tp-lst > li a:focus,
.tem-inf-wrp3 > ul.nav-tabs li.nav-item a.nav-link:hover, 
.tem-inf-wrp3 > ul.nav-tabs li.nav-item a.nav-link:focus, 
.tem-inf-wrp3 > ul.nav-tabs li.nav-item a.nav-link.active,
.tem-inf-wrp3 > span,
.tem-inf-wrp3 > p a:hover,
.tem-inf-wrp3 > p a:focus,
.sec-title2 > span,
.srv-inf4 > h4 a:hover,
.srv-inf4 > h4 a:focus,
.explr-inf > span,
.explr-wrp-tbs > ul.nav-tabs > li.nav-item a.nav-link:hover,
.explr-wrp-tbs > ul.nav-tabs > li.nav-item a.nav-link:focus,
.explr-wrp-tbs > ul.nav-tabs > li.nav-item a.nav-link.active,
.pst-inf-styl3 > h4 a:hover,
.pst-inf-styl3 > h4 a:focus,
.pst-cat > a:hover,
.pst-cat > a:focus,
.mnu-btn:hover,
.fnct-inf > span,
.cmp-feat-inf > span,
.cmp-vdo > span,
.btm-lnks > li a:hover,
.btm-lnks > li a:focus,
ul.prc-tbl-tb-nv > li.nav-item > a.nav-link.active,
ul.prc-tbl-tb-nv > li.nav-item > a.nav-link:hover,
ul.prc-tbl-tb-nv > li.nav-item > a.nav-link:focus,
.cnt-inf-lst > li a:hover,
.cnt-inf-lst > li a:focus,
header.style7 .scl-btns2 > a:hover,
header.style7 .scl-btns2 > a:focus,
.topbar3 > a.gt-qt:hover,
.topbar3 > a.gt-qt:focus,
.prtfl-inf5 > h4 a:hover,
.prtfl-inf5 > h4 a:focus,
.tgl-styl.style2 .tgl-itm > h4.active,
.tgl-styl.style2 .tgl-itm > h4:hover,
.abt-desc3 > span,
.stry-inf > ul li:before,
.prtfl-inf6 > h4 a:hover,
.prtfl-inf6 > h4 a:focus,
.prtfl-inf6 > span a:hover,
.prtfl-inf6 > span a:focus,
.pst-inf-styl4 > span a:hover,
.pst-inf-styl4 > span a:focus,
.pst-inf-styl4 > h4 a:hover,
.pst-inf-styl4 > h4 a:focus,
header.style9 .menu-wrp2 nav > div > ul > li:hover:before,
header.style9 .menu-wrp2 nav > div > ul > li:hover > a, 
header.style9 .menu-wrp2 nav > div > ul > li > a:focus,
.hdr-scl > a:hover,
.hdr-scl > a:focus,
.srv-box > i.thm-clr,
.srv-skl-inf > a:hover,
.srv-skl-inf > a:focus,
.black-layer .srv-skl-inf > a:hover, 
.black-layer2 .srv-skl-inf > a:hover, 
.black-layer3 .srv-skl-inf > a:hover, 
.black-layer4 .srv-skl-inf > a:hover, 
.black-layer5 .srv-skl-inf > a:hover,
.black-layer .srv-skl-inf > a:focus, 
.black-layer2 .srv-skl-inf > a:focus, 
.black-layer3 .srv-skl-inf > a:focus, 
.black-layer4 .srv-skl-inf > a:focus, 
.black-layer5 .srv-skl-inf > a:focus,
header.style11 nav > div > a:hover,
header.style11 nav > div > a:focus,
.breadcrumb > li a:hover,
.breadcrumb > li a:focus,
.black-layer .breadcrumb > li a:hover,
.black-layer .breadcrumb > li a:focus,
.breadcrumb > li.active,
.wdgt > ul li:hover > a,
.wdgt > ul li > a:focus,
.mini-pst-inf > span a:hover,
.mini-pst-inf > span a:focus,
.mini-pst-inf > h4 a:hover,
.mini-pst-inf > h4 a:focus,
.athr-inf > h4 a:hover,
.athr-inf > h4 a:focus,
.tgs-wrp > a:hover,
.tgs-wrp > a:focus,
.shr-wrp > a:hover,
.shr-wrp > a:focus,
.athr-inf > a:hover,
.athr-inf > a:focus,
.cmt-inf > a:hover,
.cmt-inf > a:focus,
.cmt-inf > span a:hover,
.cmt-inf > span a:focus,
.cmt-inf > h4 a:hover,
.cmt-inf > h4 a:focus,
.abt-me-inf > a.thm-btn + a:hover,
.abt-me-inf > a.thm-btn + a:focus,
.hstry-desc > a:hover,
.hstry-desc > a:focus,
.cnt-inf-bx > a:hover,
.cnt-inf-bx > a:focus,
.prtfl-inf7 > h4 a:hover,
.prtfl-inf7 > h4 a:focus,
.prtfl-cat8 > a:hover,
.prtfl-cat8 > a:focus,
.prtfl-inf8 > h4 a:hover,
.prtfl-inf8 > h4 a:focus,
.prtfl-inf10 > h4 a:hover,
.prtfl-inf10 > h4 a:focus,
.prtfl-nav-itm > a:hover,
.prtfl-nav-itm > a:focus,
.prtfl-dtl-lst > li a:hover,
.prtfl-dtl-lst > li a:focus,
.rsnp-mnu ul > li > a:focus,
.rsnp-mnu ul > li:hover > a,
.rsnp-mnu ul > li.active > a,
.rspn-srch > button:hover,
.rsnp-mnu ul li.menu-item-has-children.active:before,
.hdr-srch-bx > form button:hover,
.hdr-srch-bx > form button:focus,
.mnu-scl > a:hover,
.mnu-scl > a:focus,
.mnu-btm > p a:hover,
.mnu-btm > p a:focus,
.mnu-inf > li a:hover,
.mnu-inf > li a:focus,
.mnu-cntr > ul li:hover > a,
.mnu-cntr > ul li a:focus
{
	color: rgb(254 , 243, 39);
}

/*===== Border Color =====*/
.thm-brd-clr,
.owl-carousel .owl-dots button.owl-dot:before,
.tem-inf-wrp3 > ul.nav-tabs li.nav-item a.nav-link:hover, 
.tem-inf-wrp3 > ul.nav-tabs li.nav-item a.nav-link:focus, 
.tem-inf-wrp3 > ul.nav-tabs li.nav-item a.nav-link.active,
.explr-wrp-tbs > ul.nav-tabs > li.nav-item a.nav-link:hover,
.explr-wrp-tbs > ul.nav-tabs > li.nav-item a.nav-link:focus,
.explr-wrp-tbs > ul.nav-tabs > li.nav-item a.nav-link.active,
.exp-in:before,
.tgs > a:hover,
.tgs > a:focus,
ul.prc-tbl-tb-nv > li.nav-item > a.nav-link.active,
ul.prc-tbl-tb-nv > li.nav-item > a.nav-link:hover,
ul.prc-tbl-tb-nv > li.nav-item > a.nav-link:focus,
.tgl-styl.style2 .tgl-itm > h4.active,
.tagcloud > a:hover,
.tagcloud > a:focus,
.mini-pst-inf > span.pst-athr,
blockquote,
.mnu-wrp
{
	border-color: rgb(254 , 243, 39);
}

/*===== Border Top Color =====*/ 

{
	border-top-color: #f4d036;
}

/*===== Border Right Color =====*/ 

{
	border-right-color: #f4d036;
}

/*===== Border Bottom Color =====*/
.busns-slut-tbs > ul.nav-tabs li.nav-item a.nav-link:hover,
.busns-slut-tbs > ul.nav-tabs li.nav-item a.nav-link:focus,
.busns-slut-tbs > ul.nav-tabs li.nav-item a.nav-link.active
{
	border-bottom-color: rgb(254 , 243, 39);
}

/*===== Border Left Color =====*/ 

{
	border-left-color: #f4d036;
}